<!DOCTYPE html>
<html>
<head>
    <title>{{blog.title}}</title>
    {{>head}}
</head>
<body class="home-template">
{{>header}}
<div class="content container">
    <div class="posts">
        {{#articles}}
          <div class="post">
            <h1><a href="{{link}}">{{title}}</a></h1>
            <span class="post-date">{{timeAgo publish_date}} [{{datetime publish_date 'YYYY-MM-DD'}}]</span>
              <p>{{excerpt}}&hellip;</p>
        </div>
        {{/articles}}
    </div>

    <!-- Pagination links -->
    <div class="pagination">
      {{#if nav.previous}}
          <a class="previous" href="/page/{{nav.previous}}/">&larr; Newer Posts</a>
      {{/if}}
      {{#if nav.next}}
          <a class="next" href="/page/{{nav.next}}/">Older Posts &rarr;</a>
      {{/if}}
    </div>
</div>

{{>footer}}
</body>
</html>